<section>

  <div class="course-info">
    <h2 class="course-info__title">Cursos de programación en línea</h2>
    <p class="course-info__paragraph">¡Bienvenido/a a nuestra plataforma de educación en línea! Aquí en SmartCourses,
      ofrecemos una amplia variedad de cursos en línea para ayudarte a mejorar tus habilidades en
      programación. Nuestros cursos están diseñados para enseñarte las habilidades más buscadas en la industria
      tecnológica actual.</p>
    <h3 class="course-info__subtitle">Cursos disponibles:</h3>
    <ul class="course-info__list">
      <li class="course-info__item">JavaScript</li>
      <li class="course-info__item">Excel</li>
      <li class="course-info__item">HTML y CSS</li>
      <li class="course-info__item">Python</li>
      <li class="course-info__item">UX-UI</li>

    </ul>
    <p class="course-info__paragraph">Todos nuestros cursos son impartidos por expertos en la materia y están diseñados
      para adaptarse a tus horarios y necesidades individuales.</p>
    <h3 class="course-info__subtitle">Métodos de pago:</h3>
    <p class="course-info__paragraph">Aceptamos una amplia variedad de opciones de pago, incluyendo tarjetas de crédito
      y débito, PayPal, transferencias bancarias y mucho más. ¡Así que no te preocupes, seguro encontrarás una opción
      que se adapte a tus necesidades!</p>
    <a routerLink="/cursos" class="course-info__button">¡Únete a nosotros hoy y comienza a dar el siguiente paso en tu
      carrera como
      programador/a!</a>
  </div>
</section>