.navbar {
  float: left;
  width: 7.3%;
  background: black;
  border: 1px solid hsla(0deg, 0%, 100%, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
  height: 200px;
  z-index: 5;
  position: absolute;

  mat-nav-list {
    height: 50px;
    border-top: 4px solid #000;
    border-right: none;
  }

  a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 20px;
  }
}